<section class="not-found">
    <div class="container">
        <h1 class="title" data-title="404">404</h1>
        <div class="h4 subtitle">Üzgünüm!</div>
        <p>İstenen URL bulunamadı.</p>
        <p>Anasayfaya dönmek için <a asp-controller="Home" asp-action="Index">buraya</a> tıklayınız. </p>
    </div>
</section>