@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz</h1>
    <p>Kategorileri listelemek veya kategori eklemek için  <a asp-controller="Subcategory" asp-action="Index">buraya</a> tıklayabilir ya da solda bulunan menüdeki Subcategori başlığından gidebilirsiniz.</p>
    <p>Ürünleri listelemek veya ürün eklemek için  <a asp-controller="Product" asp-action="Index">buraya</a> tıklayabilir ya da solda bulunan menüdeki Product başlığından gidebilirsiniz.</p>
    <p>Tekrardan Ana Sayfaya dönmek istediğiniz zaman sol üst tarafta bulunan ikona veya E-TİCARET yazısına tıklayabilirsiniz.</p>
</div>
